################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xtrade/xtrade/bin
/xtrade/xtrade/App_Data/uploads
