@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The application was developed as a part of final project for course 
    IS7024, XML and Web Services, at Lindner College of Business,
    University of Cincinnati</p>

<div>
    <div>Developers:</div>
    <ul>
        <li><a target="_blank" href="https://www.linkedin.com/in/kiran-hs">Shankara Narayana, Kiran Haranahally</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/manbilla">Billa, Manoj Kumar</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/ankit-shukla">Shukla, Ankit</a></li>
    </ul>    
</div>


<div>
    <div>Code & Business plan</div>
    <ul>
        <li><a target="_blank" href="https://github.com/kiranhsgithub/xtrade">Project gitHub page</a></li>
    </ul>
</div>